.container {
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
    
  .counterContainer {
    display: flex;
    flex: 1; 
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .counterText {
    color: rgb(31, 29, 29);
    font-size: 60px;
  }
  
  .buttonsPanel {
    display: flex;
    flex-direction: row;
  }