.button {
    margin: 0 30px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 10px;
    width: auto;
    min-width: 65px;
    font-family: cursive;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
    color: white;
}